<div class="heroText">
  <h1>MakersBnB</h1>
  <p>Feel at home, anywhere</p>
</div>

<div>
  <form class="sign_up" action="/profile" method="post">
    <input type="email" name="email" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter Password">
    <input type="text" name="first_name" placeholder="Enter First Name">
    <input type="text" name="last_name" placeholder="Enter Last Name">
    <button type="submit" name="Create Account">Create Account</button>
  </form>
</div>
