<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MakersBnB</title>
  </head>
  <body>
    <header>
      <nav> 
        <ul>
          <li><a src="/listings">View Listings</li>
          <li><a src="/listings/new">New Listing</li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>