<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MakersBnB</title>
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/listings">View Listings</a></li>
          <% if session[:user] != nil %>
          <li><a href="/listings/new">New Listing</a></li>
          <li><a href="/profile">Profile</a></li>
          <% end %>
        </ul>
      </nav>
    </header>



      <%= yield %>

  </body>

</html>
