<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
    <script src="/js/interface.js"></script>
    <title>MakersBnB</title>
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/listings">View Listings</a></li>
          <% if session[:user] != nil %>
          <li><a href="/listings/new">New Listing</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/log-out" id="log_out">Log Out</a></li>
          <% else %>
          <li><a href="/log-in" id ='log_in'> Log In </a></li>

          <% end %>
        </ul>
      </nav>
    </header>
      <%= partial :flash %>
      <%= yield %>

  </body>

</html>
