<!DOCTYPE html>
<ul>

  <%@listings.each do |listing|%>
  <div class="single listing">
    <p class='name'> Name: <%=listing.name%> <p>
    <p class='description'> Description: <%=listing.description%> <p>
    <p class='price'> Price per night: <%=listing.price%> <p>
  </div>  
  <%end%>

</ul>
