<!DOCTYPE html>
<ul>

  <%@listings.each do |listing|%>
  <li>Name: <%=listing.name%>
    <br>
    Description: <%=listing.description%>
    <br>
    Price per night: <%listing.price%>
    <br>
  </li>
  <%end%>

</ul>
