<form class="log_in" action="/log-in" method="post">
  <h3><%= session[:incorrect_password] %></h3>
  <h3><%= session[:incorrect_email] %></h3>
  Email:    <input type="text" name="email" placeholder="email"><br>
  Password: <input type="text" name="password" placeholder="password">
  <input type="submit" value="Log In">
</form>

<div class="homeImage">
  <img src="/mountain_house.jpg" alt="me">
</div>
