<form class="log_in" action="/log-in" method="post">
Email:  <input type="text" name="Email" placeholder="email"><br>
Password:<input type="text" name="Password" placeholder="password">
<input type="button" value="Log In">

</form>
