html {
  background-color: lightblue;
}

body {
  color: rgb(72,72,72);
  font-family: "Courier New", Courier, monospace;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  width: 100%;
  overflow: auto;
}

nav {
  margin: auto;
  width: 50%;
}

nav li{
  display: inline-block;
}

nav ul {
  display: flex;
}

li {
  margin: auto;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 4rem;
}

.heroText {
  text-align: center;
}

.heroText h1 {
  margin-bottom: 0px;
}

h3 {
  text-align: center; 
  margin: 15px;
  font-size: 1.4em;
}

.single_listing {
  border: 1px solid rgb(72,72,72);
  margin: 15px;
  padding: 15px;
  text-align: left;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  border-radius: 5px;
}

.name {
  font-size: 1.3em;
  font-weight: bold;
}

.description {
  font-size: 1em;
  font-style: italic;
  color: rgb(47,79,79);
}

.price {
  font-size: 1em;
  font-weight:400;
}

.listingform {
  margin: 15px;
  padding: 15px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

input[type=text], input[type=email], input[type=password], input[type=date] {
  padding:5px; 
  margin: 15px;
  border:1px solid; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:rgb(72,72,72);
}

textarea {
  padding:5px; 
  border:1px solid; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:rgb(72,72,72);
}

input[type=submit], button[type=submit] {
  padding:5px 15px; 
  margin: 15px;
  background:whitesmoke; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.form-inline {
  margin-right:4px;
}

.sign_up {
  margin: 15px;
  padding: 15px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}